* {
  font-family: Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial,sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
}

p {
  word-wrap: break-word;
}

#root, .scene {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.wordscene {
  font-size: 7vh;
  text-align: center;
  display: table;
}

.wordscene > p.word {
  word-wrap: break-word;
  padding: 0 15%;
  display: table-cell;
  vertical-align: middle;
}

#controller {
  width: 100px;
  height: 50px;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 255, .3);
  right: 5%;
  bottom: 5%;
  text-align: center;
  display: table;
  transition: .1s;
}

#controller:hover {
  background-color: rgba(0, 0, 255, .5);
}

#controller:active {
  background-color: rgba(0, 0, 255, .6);
}

#controller > p.nextframe {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.chatscene > .chat {
  width: 100%;
  height: 40%;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  padding: 1%;
}

.chatscene > .chat > .chatname {
  margin: 0;
  font-size: 5vh;
  font-weight: bold;
}

.chatscene > .chat > p {
  margin-top: 1%;
  font-size: 3vh;
}

.chatscene > .person {
  bottom: 45%;
  left: 5%;
  width: auto;
  max-width: 40%;
  height: auto;
  max-height: 40%;
  position: fixed;
}

.chatscene .question {
  cursor: pointer;
  font-weight: bold;
}

.chatscene > .chat > p.small {
  font-size: 2vh;
}